#shadow-top {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#tabs {
    flex: 0 0;
    user-select: none;
}
#tabs > * {
    display: inline-block;
    cursor: pointer;
}
#tabs > span:first-child {
    margin-left: 0px !important;
}
#tabs::after {
    display: block;
    float: right;
    content: "0";
    visibility: hidden;
}
#contents {
    position: relative;
    flex: 1 1;
}
#contents > * {
    position: absolute;
    display: none;
    top: 0; left: 0; right: 0; bottom: 0;
}
#contents > *.active {
    display: block;
}